<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href=<%=lists_path%>>My list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%=new_list_path%>>New list</a>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1631805249874-3f546d176de4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  Save any kind of movies
</div>
<div class="container m-3">
  <div class="d-flex justify-content-between">
    <h1>All Lists</h1>
    <%= link_to 'New List', new_list_path, class: "btn btn-success" %>
  </div>
  <div class="cards d-flex row">
    <% @lists.each do |list| %>
      <% if list.photo.present? %>
        <div class="card-category m-3 col-6" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
      <% else %>
        <div class="card-category m-3 col-6" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://via.placeholder.com/300')">
      <% end %>
      <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>


  </div>

</div>
